<footer>
	<div class="container">
		<p class="center-block">
			Copyright © 2013-2015 microme.net All rights reserved 苏ICP备14007490号-1
		</p>
		<p class="center-block">
			<a href="mailto:admin@microme.net"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;admin@test.net</a>&nbsp;&nbsp;&nbsp;&nbsp;
		<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1000313800'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s5.cnzz.com/z_stat.php%3Fid%3D1000313800%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
		&nbsp;&nbsp;&nbsp;&nbsp;特别鸣谢：<a href="http://www.jfinal.com/" target="_blank">JFinal</a>
		</p>
	</div>
</footer>>