<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#micro-navbar">
				<span class="sr-only">Toggle navigation</span>
			</button>
			<a href="#" class="navbar-brand">MicroMe</a>
		</div>
		<div class="collapse navbar-collapse" id="micro-navbar">
			<ul class="nav navbar-nav navbar-left">
				<li><a href="/">首页</a></li>
				<li class="dropdown"><a href="javascript:void(0);" class="dropdown-toggle"
					data-toggle="dropdown" data-hover="dropdown" data-hover="dropdown"><span
						class="mybadge">3</span>微信服务</a> <span class="dropdown-arrow"></span>
					<ul class="dropdown-menu">
						<li><a href="/about/weixin1">官方微信建设</a></li>
						<li><a href="/about/weixin2">微信托管</a></li>
						<li><a href="/about/weixin3">微网站建设</a></li>
					</ul></li>
				<li><a href="javascript:void(0);" class="dropdown-toggle"
					data-toggle="dropdown" data-hover="dropdown" data-hover="dropdown"><span
						class="mybadge">3</span>网站建设</a> <span class="dropdown-arrow"></span>
					<ul class="dropdown-menu">
						<li><a href="/about/web1">企业网站建设</a></li>
						<li><a href="/about/web2">电商网站建站</a></li>
						<li><a href="/about/web3">OA系统建设</a></li>
					</ul></li>
				<li><a href="/news">微讯</a></li>
				<li><a href="/word">微语</a></li>
				<li><a href="/cases">成功案例</a></li>
				<li><a href="/contact">联系我们</a></li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
</nav>