<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Common Template</title>
<link rel="stylesheet" href="${base}/css/bootstrap/bootstrap.css">
<!--[if lte IE 9]>
	<script src="${base}/js/respond.min.js"></script>
	<script src="${base}/js/html5shiv.js"></script>
	<![endif]-->
</head>
<body>

	<script type="text/javascript" src="${base}/lib/jquery/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="${base}/lib/bootstrap/bootstrap.min.js"></script>
</body>
</html>